@mixin responsive-columns {
  grid-template-columns: 1fr 1fr 1fr; // Default for desktop

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr; // Mobile view
  }

  @media screen and (min-width: 601px) and (max-width: 1023px) {
    grid-template-columns: 1fr 1fr; // Tablet view
  }
}

.user-gallery {
  width: 100%;

  > .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @include responsive-columns()
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
